p {
  color: rgb(178, 142, 158);
  font-family: arial;
}

label {
  color: rgb(178, 142, 158);
  font-family: arial;
}

ul {
  list-style: none;
}

li {
  text-align: center;
  display: inline-block;
  margin-right: 1%;
}

link {
  font-style: none;
}

html, head, body {
  padding: 0 !important; 
  margin: 0 !important;
  height: 100%;
  width: 100%;
}

.wrapper, .footer {
  background: linear-gradient(rgb(102, 36, 64), rgb(25, 6, 14));
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.wrapper {
  min-height: 100vh;
}

.logo {
  width: 80%;
  position: relative;
  top: 5vh;
}

/* navbar / header */
.uppernav {
  font-size: 15px;
  width: 100%;
  text-align: right;
  /* position: relative; */
  /* right: 25%; */
}
.navbar {
  width: 100%;
  background: linear-gradient(white, rgb(242, 242, 242));
  border-style: solid;
  border-width: 3px;
  border-color: white white black white;
  margin: 0 !important;
  padding: 0 !important;
}

.address {
  position: relative;
  /* text-align: right;
  right: 10px; */
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.body {
  /* position: relative;
  left: 20%; */
  height: 100vh;
  width: 70%;
  padding-left: 20%;
  background-color: rgb(102, 36, 64, 0.2);
}

.profile_pic {
  height: 45%;
  width: 50%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}


@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.slider {
  overflow: hidden;
  padding-bottom: 1.5%;
}

.slider figure img {
  min-height: 825px;
  min-width: 810px;
  max-height: 825px;
  max-width: 810px;
  float: left;
}

.slider figure {
  position: relative;
  width: 1000%;
  /* margin: 0;
  left: 0; */
  text-align: left;
  /* font-size: 0; */
  animation: 12s slider infinite;
}

.middle {
  border-style: dashed;
  border-color: rgb(178, 142, 158, 0.4) transparent rgb(178, 142, 158, 0.4) transparent;
  border-width: 2px;
  margin: 15px 0px 15px 0px;
  width: 60%;
}

.middle p {
  margin: 10px 0px 10px 0px;
  font-family: "Comic Sans MS", sans-serif;
  font-size: 22px;
  color: white;
}

.lfood {
  display: inline-block;
  height: 310px;
  width: 360px;
  margin: 0px 15px 10px 0px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  transition: 0.5s;
}

.lfood:hover {
  height: 320px;
  width: 370px;
}

.rfood {
  display: inline-block;
  height: 310px;
  width: 360px;
  margin-bottom: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  transition: 0.5s;
}

.rfood:hover {
  height: 320px;
  width: 370px;
}

.form {
  width: 50%;
}
  
.footer p {
  /* vertical align text */
  
  text-align: center;
  height: 5vh;
}